<% provide(:title, "Home") %>

<div class= "center jumbotron" >
    <h1>Home</h1>
    <p>This home page is currently under construction! Stay tuned for updates! <p>
    
    <%= link_to "Sign up now!", class: "btn btn-primary" %>
</div>
