<footer class="footer">
    <div class = "container">
        <nav>
            <ul>
                <%#= link_to "Contact", contact_path %>
            </ul>
        
        </nav>
    </div>
</footer>